@import (reference)"../../layouts/main";


.resetPsw_page{
    display: flex;
    flex-direction: column;
    .header{
        padding: 10px 20px;
        background-color: @gray-color;
    }
    .form{
        align-self: center;
        display: flex;
        flex-direction: column;
        width: 300px;
        justify-content: center;
        height: 500px;

    }
}