.md_theme pre,
.md_theme code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
.md_theme pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}
.md_theme a,
.md_theme a:visited {
  text-decoration: none;
  color: #3498db;
}
.md_theme a:hover,
.md_theme a:focus,
.md_theme a:active {
  text-decoration: none;
  color: #2980b9;
}
.md_theme p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}
.md_theme h1,
.md_theme h2,
.md_theme h3,
.md_theme h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}
.md_theme h1 {
  margin-top: 0;
  font-size: 28px;
}
.md_theme h2 {
  font-size: 24px;
}
.md_theme h3 {
  font-size: 18px;
}
.md_theme h4 {
  font-size: 16px;
}
.md_theme h5 {
  font-size: 14px;
}
.md_theme h6 {
  color: #777777;
  font-size: 13px;
}
.md_theme small {
  font-size: 12px;
}
.md_theme img,
.md_theme canvas,
.md_theme iframe,
.md_theme video,
.md_theme svg,
.md_theme select,
.md_theme textarea {
  max-width: 100%;
}
.md_theme h1,
.md_theme h2,
.md_theme h3,
.md_theme h4,
.md_theme h5,
.md_theme h6 {
  font-family: Arimo, Helvetica, sans-serif;
}
.md_theme h1,
.md_theme h2,
.md_theme h3 {
  border-bottom: 2px solid #fafafa;
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
}
.md_theme blockquote {
  margin: 15px 0;
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
}
.md_theme blockquote:first-child {
  margin-top: 0;
}
.md_theme blockquote:last-child {
  margin-bottom: 0;
}
.md_theme pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
.md_theme pre code,
.md_theme pre tt {
  background-color: transparent;
  border: none;
}
.md_theme .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
