.setting_page {
  display: flex;
  flex-direction: column;
}
.setting_page .header {
  padding: 10px 20px;
  background-color: #f6f6f6;
}
.setting_page .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
